html{
    background-color: #31343D;
}

.main-menu-button{
    background-color: white;
    margin: auto;
    width: 50%;
    margin: auto;
    border: black;
}

.track-container {
    display: flex;
    flex: 1 0 auto;
    background-color: #093049;
    z-index: -1;
}

.game-container{
    display: flex;
    flex: 0 0 calc(100% /2);
    flex-direction: column;
    max-width: 35rem;
    margin: 0 auto;
    position: relative;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.track{
    position: relative;
    flex: 0 0 calc(100%/4);
    border-right: 1px solid black;
}

.note{
    position: absolute;
    width: 100%;
    height: 1.5rem;
    visibility: hidden;
}

@keyframes moveUp {
    0% {bottom: 0%; visibility: visible}
    98% {bottom: 100%; opactiy: 1}
    100% {bottom: 101%; visibility: hidden;}
}

.key-container{
    display: flex;
    flex: 0 0 15%;
}

.key{
    flex: 0 0 calc(100% / 4);
    text-align: center;
    position: relative;
    font-size: 500%;
    color: white;
}


#left-key{
    background: #C24B99;
}

#up-key{
    background: #13FA05;
}

#down-key{
    background: #01FFFF;
}

#right-key{
    background: #F9393F;
}

.menu-container{
    display: flex;
    flex: 0 0 calc(100% /2);
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 10rem;
}

.menu-button{
    width: 60%;
    height: 10%;
    margin: 3px;
    font-size: 80%;
}

#about-tag{
    font-size: 1rem;
    width: 40%;
    margin: auto;
}

#author-tag{
    font-size: 2.5rem;
}

#game-title{
    color: #4B9CD3;
}

.leaderboard-menu, .controls-menu{
    opacity: 0;
    margin: 0 auto;
    width: 80%;
}

.initial-view{
    text-align: center;
    margin: 0 auto;
}

.ingame-button{
    width: 300px;
    height: 10%;
    margin: 3px;
    font-size: 80%;
}

.hit-display{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 25%;
    text-align: center;
    transform: translate(-50%, 5-0%);
}

.hit-accuracy {
    position: absolute;
    width: 100%;
    height: auto;
    font-size: 4rem;
    color: white;
    z-index: 10000;
    opacity: .4;
}

.hit-combo{
    width: 100%;
    height: auto;
    font-size: 4rem;
    color: rgba(255, 199, 126, .8);
    z-index: 10000;
    opacity: .4;
}

.key-hit {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0 ;
}

#controls-tag{
    font-size: 1.5rem;
}

.results{
    display: none;
    justify-content: center;
    width: auto;
}

.game-menu > #back-button {
    width: 100%;
    display: none;
}