html{
    background-color: #31343D;
}

#main-menu{
    text-align: center;
    font-size: xx-large;
    position: absolute;
    width: 30%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #6e7077;
    color: white;
    overflow: auto;
}

.main-menu-button{
    background-color: white;
    margin: auto;
    width: 50%;
    margin: auto;
    border: black;
}

.track-container {
    display: flex;
    flex: 1 0 auto;
    background-color: #093049;
}

.game-container{
    display: flex;
    flex: 0 0 calc(100% /2);
    flex-direction: column;
    max-width: 35rem;
    margin: 0 auto;
    position: relative;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.track{
    position: relative;
    flex: 0 0 calc(100%/4);
    border-right: 1px solid black;
}

.note{
    position: absolute;
    width: 100%;
    height: 1.5rem;
    visibility: hidden;
}

@keyframes moveUp {
    0% {bottom: 0%; visibility: visible}
    98% {bottom: 100%; opactiy: 1}
    100% {bottom: 101%; visibility: hidden;}
}

.key-container{
    display: flex;
    flex: 0 0 15%;
}

.key{
    flex: 0 0 calc(100% / 4);
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    position: relative;
    font-size: 500%;
    color: white;
}


#left-key{
    background: #C24B99;
}

#up-key{
    background: #13FA05;
}

#down-key{
    background: #01FFFF;
}

#right-key{
    background: #F9393F;
}
